.mini_card {
  width: 100%;
}
.mini_card_body {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px !important;
}
.mini_card_icon {
  background-color: green;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.mini_card_title {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #3c3c3c;
}
.mini_card_Count {
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: #1e1e1e;
  text-align: center;
}
.mini_card_item_divider {
  position: relative;
}
.mini_card_item_divider::after {
  content: "";
  background-color: gray;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
